.layout-cabecalho {
    height: 60px;
    border-bottom: 1px solid #ffcc00;
}

.layout-cabecalho img {
    margin-top: 12px;
}

.layout-disciplinas {
    padding: 80px 0;
}

.layout-banner {
    padding: 8px 0;

    background-color: #e6b800;
}